h1 { font-size: 48px; }
h2 { font-size: 40px; }
h3 { font-size: 32px; }
p { font-size: 24px; }

img { width: 100%; }

.section-summary,
.box {
	padding: 0.5em;
}
.section-summary {
	background: #F7CAAC;
}
.section-summary > *:first-child { margin-top: 0px; }
.section-summary > *:last-child { margin-bottom: 0px; }

.box {
	background: #DEEBF6;
}
.box > *:first-child { margin-top: 0px; }
.box > *:last-child { margin-bottom: 0px; }


.border {
	padding: 1em;
	border: 2px solid black;
}
.border > *:first-child { margin-top: 0px; }
.border > *:last-child { margin-bottom: 0px; }
